
* {
    background-color: #222426;
    font-family: "Raleway", sans-serif;
    color: #ddd;
}

.button {
    background-color: #222426;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: solid 2px #ddd;
    padding: 7px 10px 7px 10px;
}

#title {
    margin: 40px 0 40px 0;
    text-align: center;
    font-size: 38px;
    color: #ddd;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#title:hover {
    cursor: default;
}

#title > .highlight {
    font-size: 43px;
    color: #00f6ed;
    font-weight: 600;
}

#external-links {
    text-align: center;
    margin-bottom: 40px;
}

#external-links > .button {
    margin: 0 10px 0 10px;
}

#projects {
    margin: 0 15% 0 15%;
}

#projects > .header {
    font-size: 34px;
}

.project {
    overflow: auto;
}

.project > .name {
    font-size: 28px;
    margin-bottom: 10px;
}

.project > img {
    float: left;
    display: block;
    margin: 10px 10px 0 0;
}

.project > .description {
    font-size: 20px;
}