
* {
    background-color: #222426;
    font-family: "Raleway", sans-serif;
}

.title {
    text-align: center;
    font-size: 38px;
    color: #ddd;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.title:hover {
    cursor: default;
}

.title > .highlight {
    font-size: 43px;
    color: #00f6ed;
    font-weight: 600;
}